@font-face {
    font-family: 'Nunito';
    font-stretch: 50; /* Note that font-stretch is a % of normal width */
    font-style: 'normal'; /* See note below */
    src: url('/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Italic';
    font-stretch: 50; /* Note that font-stretch is a % of normal width */
    font-style: 'italic'; /* See note below */
    src: url('/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    font-stretch: 50; /* Note that font-stretch is a % of normal width */
    font-style: 'normal'; /* See note below */
    src: url('/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
}

:root {
    --vp-font-family-base: 'Nunito';
    --vp-font-family-mono: 'Fira Code';
}

:root {
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #dd9313 30%,
        #169fcc
    );

    --vp-home-hero-image-background-image: linear-gradient(
        -45deg,
        #dd9313 50%,
        #169fcc 50%
    );
}
